*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

body{
    height: 100vh;
}
main{
  /*  width: 100vw;*/
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 0.8fr;
    grid-template-areas: "nav image""login image";
    background-color: #FAF4F2;

}

main > section {
    grid-area: login;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 45%;


}
main > section > .profil{
    width: 500px;

}

main > section > .profil > h3{
    font-size: 28px;
    margin-left: 40px;
    margin-bottom: 30px;
    color: #E76F51;
    margin-block-end: 0px;

}

.newUser {
    margin: 5px 40px;
    display: grid;
    gap: 30px 10px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    align-content: center;
    grid-template-areas: "firstname firstname1"
    "lastname lastname1"
    "gender gender1"
    "email email1"
    "phonenumber phonenumber1"
    "dayofbirth dayofbirth1"
    "username username1"
    "address address1"
    "zipcode zipcode1"
    ". back";
}
.firstname {
    grid-area: firstname;
}
.firstname1 {
    grid-area: firstname1;
}
.lastname {
    grid-area: lastname;
}
.lastname1 {
    grid-area: lastname1;
}
.gender {
    grid-area: gender;
}
.gender1 {
    grid-area: gender1;
}
.email {
    grid-area: email;
}
.email1 {
    grid-area: email1;
}
.phonenumber {
    grid-area: phonenumber;
}
.phonenumber1 {
    grid-area: phonenumber1;
}
.dayofbirth {
    grid-area: dayofbirth;
}
.dayofbirth1 {
    grid-area: dayofbirth1;
}
.username {
    grid-area: username;
}
.username1 {
    grid-area: username1;
}
.address {
    grid-area: address;
}
.address1 {
    grid-area: address1;
}
.zipcode {
    grid-area: zipcode;
}
.zipcode1 {
    grid-area: zipcode1;
}
.buttonlink {
    grid-area: back;
}
.discoverButton {
    width: 205px;
    margin: 15px;
    font-size: 18px;
    color: white;
    text-decoration: none;
    background-color: #E76F51;
    border: 1px solid #E76F51;
    border-radius: 30px;
    padding: 10px 30px;
    transition: all 1s;
}
.hoverDiscover:hover {
    transform: scale(1.2, 1.2);
    box-shadow: 0 2px 20px 2px #383838;
}
/* nav*/

.navigation {
    grid-area: nav;
    width: 100%;
    height: 50px;
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    background-image: url(Assets/logo.svg);
    height: 50px;
    width: 50px;
    margin: 0 25px 0 0;
}
.allNavButtons {
    margin: 0 0 0 25px;
    display: flex;
    flex-direction: row;
    align-items: center;

}
.navButton {
    margin: 0 20px 0 20px;
    font-size: 18px;
    color: black;
    text-decoration: none;
    transition: all 0.5s;
}

/* Rignt side*/

main > figure{
    background-image: url(/assets/Vforvendetta.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    grid-area: image;
}


@media screen and (max-width: 768px){
    main{
        grid-template-areas: "image" "login";
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
    }
    main > figure > p {
        font-size: 23px;
        margin: 22px 35px;
    }
    main > figure{
        background-size: cover;
        background-position: center;
        width: 768px;
    }
}

@media screen and (max-width: 375px){
    main{
        grid-template-areas: "image" "login";
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
    }
    main > figure{
        background-size: cover;
        width: 100%;
    }
    main > figure > p {
        font-size: 19px;
        margin: 20px 30px;
    }
}