<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.Thymeleaf.org">
<head>
    <link rel="stylesheet" href="/stylesBookDetails.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap">
    <meta charset="UTF-8">
    <meta name="description" content="product">
    <meta name="keywords" content="FakeStore, Detail, Product">
    <meta name="author" content="Stig">
    <title>Book details</title>
</head>

<body>
<section class="siteGrid">
    <main class="productGrid">
        <h3 class="productH3" th:text="${book.title}"></h3>
        <p class="detailsText" th:text="'Author: ' + ${book.author}"></p>
        <p class="detailsText" th:text="'Genre: ' + ${book.genre.getDescription()}"></p>
        <p class="detailsText" th:text="'Description: ' + ${book.shortDescription}"></p>
        <p class="detailsText" th:text="'Publisher: ' + ${book.publisher}"></p>
        <p class="detailsText" th:text="'Release date: ' + ${book.releaseDate}"></p>
        <p class="detailsText" th:text="'Language: ' + ${book.language}"></p>
        <p class="detailsText" th:text="'Age info: ' + ${book.recommendedAgeInfo}"></p>
        <p class="detailsText" th:text="'Price: ' + ${book.price}"></p>
        <form method="post" action="/cart">
            <input type="hidden" name="productId" th:value="${book.productId}">
            <p class="detailsText" th:text="'ProductID: ' + ${book.productId}"></p>
            <button type="submit" class="addToCartButton hoverAddToCartButton">Add to cart</button>
        </form>
    </main>
    <header class="productPic">
        <img th:src="${book.photo}">
    </header>
</section>
</body>

</html>