<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.Thymeleaf.org">
<head>
    <link rel="stylesheet" href="/cartStyle.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap">
    <meta charset="UTF-8">
    <meta name="description" content="product">
    <meta name="keywords" content="FakeStore, Detail, Product">
    <meta name="author" content="Stig">
    <title>Cart</title>
</head>

<body>
<section class="siteGrid">
    <nav class="navigation">
        <section class="allNavButtons">
            <figure class="logo"></figure>
            <a class="navButton hoverNavButton" th:href="@{/Home}">Home</a>
            <a class="navButton hoverNavButton" th:href="@{/Page/Book}">Books</a>
            <a class="navButton hoverNavButton" th:href="@{/Page/Movie}">Movies</a>
            <a class="navButton hoverNavButton" th:href="@{/Page/Game}">Games</a>
            <a class="navButton hoverNavButton" th:href="@{/cart}">Cart</a>
        </section>
    </nav>
    <main class="productGrid">
        <ul class="cartlist" th:each="product : ${cartlist}">
            <li th:text="'Title: ' + ${product.title}"></li>
            <li th:text="'$' + ${product.price}"></li>
            <img class="productPic" th:src="${product.photo}">
        </ul>
        <p class="totalSum" th:text="'$' + ${total}"></p>
    </main>

</section>
</body>

</html>