<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.Thymeleaf.org">
<head>
    <link rel="stylesheet" href="/stylesHome.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Archivo&display=swap">
    <meta charset="UTF-8">
    <meta name="description" content="FakeStore">
    <meta name="keywords" content="FakeStore, Home">
    <meta name="author" content="Stig">
    <title>FakeStore</title>
</head>
<body>
<header class="header">
    <nav class="navigation">
        <section class="allNavButtons">
            <figure class="logo"></figure>
            <a class="navButton hoverNavButton" href="Home">Home</a>
            <a class="navButton hoverNavButton" href="Books">Books</a>
            <a class="navButton hoverNavButton" href="Movies">Movies</a>
            <a class="navButton hoverNavButton" href="Games">Games</a>
            <a class="navButton hoverNavButton" href="/cart">Cart</a>
        </section>
        <section class="loginButtons">
            <a class="navButton hoverNavButton" th:href="@{/SignUp}">Sign up</a>
            <a class="navButton signIn hoverNavButton" th:href="@{/signin}">Sign in</a>
        </section>
    </nav>
    <section class="headerText">
        <h1 class="bigText">
            Great movies, great prices.
        </h1>
        <p class="smallText">
            A literal shit-ton of amazing movies at amazing prices.
        </p>
        <a class="discoverButton hoverDiscover" href="Discover movies">Discover movies</a>
    </section>
</header>
<main>
    <section class="topGrid">
        <div class="gridBox">
            <figure class="medal1"></figure>
            <h4 class="gridboxH4">Customer service</h4>
            <p class="gridboxText">Best customer service on the internet in 2018 & 2019.</p>
        </div>
        <div class="gridBox">
            <figure class="medal2"></figure>
            <h4 class="gridboxH4">Fake products</h4>
            <p class="gridboxText">The best fake products. Fake is our passion.</p>
        </div>
        <div class="gridBox">
            <figure class="medal3"></figure>
            <h4 class="gridboxH4">Design</h4>
            <p class="gridboxText">Most amazing design ever implemented.</p>
        </div>
        <div class="gridBox">
            <figure class="medal4"></figure>
            <h4 class="gridboxH4">Best shipping</h4>
            <p class="gridboxText">The shortest delivery times in the industry.</p>
        </div>
    </section>
    <section class="middleGrid">
        <figure class="middelPic"></figure>
        <p class="middelText">
            Explore all of our great products.
        </p>
    </section>
    <section class="destinationGrid">
        <div class="destinationGridBoxes">
            <figure class="destinationPicture" th:style="${'background-image: url(' + book.photo + ');'}"></figure>
            <div class="priceBox" th:text="'$' + ${book.price}"></div>
            <h4 class="destinationGridBoxesHeader" th:text="${book.title}"></h4>
            <p class="destinationGridBoxesText" th:text="${book.shortDescription}"></p>
            <a class="readMoreButton hoverReadMore" href="/Details/Book">Read More</a>
        </div>
        <div class="destinationGridBoxes">
            <figure class="destinationPicture" th:style="${'background-image: url(' + book2.photo + ');'}"></figure>
            <div class="priceBox" th:text="'$' + ${book2.price}">$36/night</div>
            <h4 class="destinationGridBoxesHeader" th:text="${book2.title}">Dragonfly Tiny Cabin</h4>
            <p class="destinationGridBoxesText" th:text="${book2.shortDescription}">Book unique camping experiences on over 300,000 campsites.</p>
            <a class="readMoreButton hoverReadMore" href="/Details/Book?x=1">Read More</a>

        </div>
        <div class="destinationGridBoxes">
            <figure class="destinationPicture" th:style="${'background-image: url(' + book3.photo + ');'}"></figure>
            <div class="priceBox" th:text="'$' + ${book3.price}">$36/night</div>
            <h4 class="destinationGridBoxesHeader" th:text="${book3.title}">Tiny Cabin in the mountains</h4>
            <p class="destinationGridBoxesText" th:text="${book3.shortDescription}">Book unique camping experiences on over 300,000 campsites.</p>
            <a class="readMoreButton hoverReadMore" href="/Details/Book?x=2">Read More</a>
        </div>
        <div class="destinationGridBoxes">
            <figure class="destinationPicture" th:style="${'background-image: url(' + book4.photo + ');'}"></figure>
            <div class="priceBox" th:text="'$' + ${book4.price}">$36/night</div>
            <h4 class="destinationGridBoxesHeader" th:text="${book4.title}">The Stuga</h4>
            <p class="destinationGridBoxesText" th:text="${book4.shortDescription}">Book unique camping experiences on over 300,000 campsites.</p>
            <a class="readMoreButton hoverReadMore" href="/Details/Book?x=3">Read More</a>
        </div>
        <div class="destinationGridBoxes">
            <figure class="destinationPicture" th:style="${'background-image: url(' + movie.photo + ');'}"></figure>
            <div class="priceBox" th:text="'$' + ${movie.price}"></div>
            <h4 class="destinationGridBoxesHeader" th:text="${movie.title}"></h4>
            <p class="destinationGridBoxesText" th:text="${movie.shortDescription}"></p>
            <a class="readMoreButton hoverReadMore" href="/Details/Movie">Read More</a>
        </div>
        <div class="destinationGridBoxes">
            <figure class="destinationPicture"></figure>
            <div class="priceBox">$36/night</div>
            <h4 class="destinationGridBoxesHeader">The Summit Cabin</h4>
            <p class="destinationGridBoxesText">Book unique camping experiences on over 300,000 campsites.</p>
            <a class="readMoreButton hoverReadMore" href="Read More">Read More</a>
        </div>
        <div class="destinationGridBoxes">
            <figure class="destinationPicture"></figure>
            <div class="priceBox">$36/night</div>
            <h4 class="destinationGridBoxesHeader">Kindred Spirits Cabin</h4>
            <p class="destinationGridBoxesText">Book unique camping experiences on over 300,000 campsites.</p>
            <a class="readMoreButton hoverReadMore" href="Read More">Read More</a>
        </div>
        <div class="destinationGridBoxes">
            <figure class="destinationPicture"></figure>
            <div class="priceBox">$36/night</div>
            <h4 class="destinationGridBoxesHeader">The Hermitage Cabin</h4>
            <p class="destinationGridBoxesText">Book unique camping experiences on over 300,000 campsites.</p>
            <a class="readMoreButton hoverReadMore" href="Read More">Read More</a>
        </div>
        <div class="destinationGridBoxes">
            <figure class="destinationPicture" th:style="${'background-image: url(' + game.photo + ');'}"></figure>
            <div class="priceBox" th:text="'$' + ${game.price}"></div>
            <h4 class="destinationGridBoxesHeader" th:text="${game.title}"></h4>
            <p class="destinationGridBoxesText" th:text="${game.shortDescription}"></p>
            <a class="readMoreButton hoverReadMore" href="/Details/Game">Read More</a>
        </div>
        <div class="destinationGridBoxes">
            <figure class="destinationPicture"></figure>
            <div class="priceBox">$36/night</div>
            <h4 class="destinationGridBoxesHeader">The Tree House</h4>
            <p class="destinationGridBoxesText">Book unique camping experiences on over 300,000 campsites.</p>
            <a class="readMoreButton hoverReadMore" href="Read More">Read More</a>
        </div>
        <div class="destinationGridBoxes">
            <figure class="destinationPicture"></figure>
            <div class="priceBox">$36/night</div>
            <h4 class="destinationGridBoxesHeader">Barrier island elevated tent</h4>
            <p class="destinationGridBoxesText">Book unique camping experiences on over 300,000 campsites.</p>
            <a class="readMoreButton hoverReadMore" href="Read More">Read More</a>
        </div>
        <div class="destinationGridBoxes">
            <figure class="destinationPicture"></figure>
            <div class="priceBox">$36/night</div>
            <h4 class="destinationGridBoxesHeader">Ninovan on the Shore</h4>
            <p class="destinationGridBoxesText">Book unique camping experiences on over 300,000 campsites.</p>
            <a class="readMoreButton hoverReadMore" href="Read More">Read More</a>
        </div>
    </section>
    <section class="veiwAllGrid">
        <a class="veiwAll" href="Veiw all">Veiw all</a>
    </section>
</main>
</body>
</html>