<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.Thymeleaf.org">
<head>
    <link rel="stylesheet" href="/stylesPageOf.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
    <meta charset="UTF-8">
    <meta name="description" content="product">
    <meta name="keywords" content="FakeStore, Detail, Product">
    <meta name="author" content="Stig">
    <title>Books</title>
</head>

<body>
<section class="siteGrid">
    <nav class="navigation">
        <section class="allNavButtons">
            <figure class="logo"></figure>
            <a class="navButton hoverNavButton" th:href="@{/Home}">Home</a>
            <a class="navButton hoverNavButton" th:href="@{/Page/Book}">Books</a>
            <a class="navButton hoverNavButton" th:href="@{/Page/Movie}">Movies</a>
            <a class="navButton hoverNavButton" th:href="@{/Page/Game}">Games</a>
            <a class="navButton hoverNavButton" th:href="@{/cart}">Cart</a>
        </section>
    </nav>
    <main class="productGrid">
        <h3>List of books</h3>
        <ul class="title" th:each="book : ${pageBook.content}">
            <a class="link" th:href="'/Details/Book?productId=' + ${book.productId}" th:text="${book.title}"></a>
            <ul>
                <li class="detail" th:text="'Author: ' + ${book.author}"></li>
                <li class="detail" th:text="'Price: ' + ${book.price}"></li>
            </ul>
        </ul>
        <ul class="title" th:each="movie : ${pageMovie.content}">
            <a class="link" th:href="'/Details/Movie?productId=' + ${movie.productId}" th:text="${movie.title}"></a>
            <ul>
                <li class="detail" th:text="'Director: ' + ${movie.director}"></li>
                <li class="detail" th:text="'Price: ' + ${movie.price}"></li>
            </ul>
        </ul>
        <ul class="title" th:each="game : ${pageGame.content}">
            <a class="link" th:href="'/Details/Game?productId=' + ${game.productId}" th:text="${game.title}"></a>
            <ul>
                <li class="detail" th:text="'Developer: ' + ${game.developer}"></li>
                <li class="detail" th:text="'Price: ' + ${game.price}"></li>
            </ul>
        </ul>
        <nobr>
        <span th:if="${pageBook.hasPrevious()}">
            <a class="pageLink" th:href="@{/Page/Product(pageNo=${pageBook.number})}">Previous</a>
        </span>
            <th:block th:each="i: ${#numbers.sequence(0, pageBook.totalPages - 1)}">
                <span th:if="${pageBook.number == i}" class="selected pageLink">[[${i}+1]]</span>
                <span th:unless="${pageBook.number == i}">
             <a class="pageLink" th:href="@{/Page/Product(pageNo=${i+1})}">[[${i}+1]]</a>
        </span>
            </th:block>
            <span th:if="${pageBook.hasNext()}">
            <a class="pageLink" th:href="@{/Page/Product(pageNo=${pageBook.number+2})}">Next</a>
        </span>
        </nobr>
    </main>
</section>
</body>
</html>