<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.Thymeleaf.org">
<head>
    <link rel="stylesheet" href="/stylesPageOfGames.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap">
    <meta charset="UTF-8">
    <meta name="description" content="product">
    <meta name="keywords" content="FakeStore, Detail, Product">
    <meta name="author" content="Stig">
    <title>Games</title>
</head>

<body>
<section class="siteGrid">
    <nav class="navigation">
        <section class="allNavButtons">
            <figure class="logo"></figure>
            <a class="navButton hoverNavButton" th:href="@{/Home}">Home</a>
            <a class="navButton hoverNavButton" th:href="@{/Page/Book}">Books</a>
            <a class="navButton hoverNavButton" th:href="@{/Page/Movie}">Movies</a>
            <a class="navButton hoverNavButton" th:href="@{/Page/Game}">Games</a>
            <a class="navButton hoverNavButton" th:href="@{/cart}">Cart</a>
        </section>
    </nav>
    <main class="productGrid">
        <h3>List of games</h3>
        <ul class="gameTitle" th:each="game : ${session.pageOfGames}">
            <a class="gameLink" th:href="'/games/details?gameId=' + ${game.productId}" th:text="${game.title}"></a>Game?x=1
            <ul>
                <li class="gameDetail" th:text="'Developer: ' + ${game.developer}"></li>
                <li class="gameDetail" th:text="'Price: ' + ${game.price}"></li>
            </ul>
        </ul>
        <br>
        <a class="pageLink" th:if="${session.currentPage} != 0" th:href="'/games?page=' + ${session.prev}">Prev</a>
        <a class="pageLink" th:if="${page} < ${session.currentPage}" th:each="page : ${session.numOfPages}"
           th:text="${page} + 1" th:href="'/games?page=' + ${page}"></a>
        <a class="pageLink activeLink" th:if="${page} == ${session.currentPage}" th:each="page : ${session.numOfPages}"
           th:text="${page} + 1"></a>
        <a class="pageLink" th:if="${page} > ${session.currentPage}" th:each="page : ${session.numOfPages}"
           th:text="${page} + 1" th:href="'/games?page=' + ${page}"></a>
        <a class="pageLink" th:if="${session.currentPage} != ${session.totNumPages}"
           th:href="'/games?page=' + ${session.next}">Next</a>
    </main>
</section>
</body>
</html>