<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">
    <meta name="description" content="signup">
    <meta name="keywords" content="FakeStore, signup, newprofile">
    <meta name="author" content="Sindre">
    <link rel="stylesheet" href="/SignUpStyle.css">
    <title>Sign Up</title>
</head>
<body>
<main>
    <section>
        <div class="newUser">
            <h3>Sign up</h3>
            <form th:action="SignUp" th:method="post" id="user" th:object="${user}">
                <label class="firstname">Firstname </label>
                <input class="firstname1" th:field="*{firstName}">
                <label class="lastname">Lastname </label>
                <input class="lastname1" th:field="*{lastName}">
                <label class="gender">Gender </label>
                <select name="gender" class="gender1">
                    <option th:each="genderopt : ${T(no.fakestore.fakestore.Gender).values()}"
                            th:value="${genderopt}" th:text="${genderopt.getDisplayName()}"></option>
                </select>
                <label class="email">E-mail</label>
                <input class="email1" th:field="*{eMail}">
                <label class="phonenumber">Phone number </label>
                <input class="phonenumber1" th:field="*{phoneNumber}">
                <label class="dayofbirth">Day of birth</label>
                <input class="dayofbirth1" type="date" th:field="*{dayOfBirth}">
                <label class="username">Username </label>
                <input class="username1" th:field="*{userName}">
                <label class="password">Password </label>
                <input class="password1" type="password" th:field="*{passWord}">
                <label class="confirmpassword">Confirm password </label>
                <input class="confirmpassword1" type="password" th:field="*{confirmPassWord}">
                <label class="address">Address </label>
                <input class="address1" th:field="*{address}">
                <label class="zipcode">ZIP code </label>
                <input class="zipcode1" th:field="*{zipCode}">
                <span class="error" th:if="${passfail}">Error: Password does not match!</span>
                <div class="loginbuttom form-actions">
                    <button type="submit" class="login btb hoverDiscover">LOGIN</button>
                </div>
            </form>
        </div>
    </section>
    <figure>
    </figure>
</main>
</body>
</html>