<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/signIn.css">
    <title>Login</title>
</head>
<body>
<main>
    <section>
        <form name="f" th:action="@{/signin}" method="post" class="loginbox">
            <h3>Sign In</h3>
            <div class="userpass">
                <div>
                    <p for="username">Username</p>
                    <input type="text" id="username" name="username">
                </div>
                <div class="pass">
                    <p for="password">Password</p>
                    <input type="password" id="password" name="password">
                </div>
            </div>
            <div>
                <a href="">Forgot Password?</a>
            </div>
            <div class="loginbuttom form-actions">
                <button type="submit" href="" class="login btb hoverDiscover" >LOGIN</button>
            </div>
            <div class="creatone">
                <p>Don’t Have An Account? <a th:href="SignUp">Create One</a></p>
            </div>
        </form>
    </section>
    <figure>
        <p>ugotcorona.com</p>
    </figure>
</main>
</body>
</html>